@model LiquorStore.Models.Order

@{
      ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<table class="table">
    <tr>
        <th>Order Date:</th>
        <td>@Model.OrderDate</td>
    </tr>
    <tr>
        <th>Total Amount:</th>
        <td>$@Model.TotalAmount</td>
    </tr>
    <tr>
        <th>Customer Id:</th>
        <td>@Model.CustomerId</td>
    </tr>
    
</table>
@Html.ActionLink("Back", "Index")