/* _content/LiquorStore/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vhvbiu7xmn] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary[b-vhvbiu7xmn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vhvbiu7xmn], .nav-pills .show > .nav-link[b-vhvbiu7xmn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vhvbiu7xmn] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-vhvbiu7xmn] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vhvbiu7xmn] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vhvbiu7xmn] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-vhvbiu7xmn]{
  background-color: rgba(0, 0, 0, 0.885);
  padding: 15px 15px 15px 15px;
}

footer ul[b-vhvbiu7xmn] {
  list-style-type: none;
  text-align: center;
}

